<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.title %> - Détail du produit</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <h1>Details du produit</h1>

    <div class="product-detail">
        <h2>Title: <%= product.title %></h2>
        <p><strong>Prix : </strong><%= product.price %> €</p>
        <p><strong>Description : </strong><%= product.description %></p>
        <p>Catégorie : <%= product.category_id.category_name %></p> <!-- Affichage de category_name -->

    </div>

    <a href="/shop">Retour à la boutique</a>

    <%- include('partials/footer.ejs') %>
</body>
</html>
