<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('partials/header.ejs') %>
    <div class="container mt-4 flex-grow-1">
    <h1 class="text-center">Boutique</h1>

    <h2>Nos produits</h2>
    <div class="container">
        <% if (products.length === 0) { %>
            <p>Aucun produit disponible pour le moment.</p>
        <% } else { %>
            <div class="row">
                <% products.forEach((product, index) => { %>
                    <% if (index % 4 === 0 && index !== 0) { %>
                        </div><div class="row"> <!-- Nouvelle ligne après chaque 4 produits -->
                    <% } %>
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <!-- <img src='default-image.jpg' class="card-img-top"> -->
                            <div class="card-body">
                                <h5 class="card-title"><a href="/shop/<%= product.productId %>"><%= product.title %></a></h5>
                                <p class="card-text">Prix: <%= product.price %>€</p>
                                <p class="card-text">Catégorie: <%= product.category_id ? product.category_id.category_name : 'Non définie' %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>

<div class="mt-5">
    <%- include('partials/footer.ejs') %>
</div>
</body>
</html>
